/* PostCSS directives */
@import 'tailwindcss';
@tailwind utilities;

:root {
  --header-bg: linear-gradient(to bottom right, #0b61ee, #083ba3);
  --bg-dark: #000000;
}

@layer components {
  .header-bg {
    background-image: var(--header-bg);
  }
  
  .font-jetbrains-mono {
    font-family: var(--font-jetbrains-mono);
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .font-noto-sans {
    font-family: var(--font-noto-sans);
  }
  
  /* Styles pour les éléments avec fond transparent */
  .bg-transparent-dark {
    background-color: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(3px);
  }
} 